*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GRID ----> GRILLAS*/
/* display: grid; */

main{
    display: grid;
   
    grid-template-areas: 'nav nav nav nav'
                         'section section section aside'
                         'footer footer footer footer';
    height: 100vh;
    background-color: black;
}

main nav{
    grid-area: nav;
    background-color: yellow;
}

main section{
    grid-area: section;
    background-color: green;
}

main aside{
    grid-area: aside;
    background-color: blue;
}

main footer{
    grid-area: footer;
    background-color: pink;
}

/*main div{
    background-color: red;
}*/
